<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="card" , style="border:1px solid grey">
  <div class="card-header">
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"EMAIL" %>
  </div>

  <div class="field">
    
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"PASSWORD" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"CONFIRM PASSWORD" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-secondary"%>
  </div>
<% end %>

<%= render "devise/shared/links", class:"btn btn-primary" %>
</div>
</div>