<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4"><%= @contact.first_name %> <%= @contact.last_name %></h1>
  <p class="lead"> <%= @contact.email %></p>
  <hr class="my-4">
<img src='<%=@contact.photo_url%>' alt="responsive image class="img-thumbnail">
<br/>
<%= link_to 'Edit', edit_contact_path(@contact),class:"btn btn-outline-dark" %> 

<%= link_to 'Back', contacts_path, class:"btn btn-outline-dark" %>
</div>



